<p>
  <button type="button" class="btn btn-primary btn-lg" (click)="add()">
    Add version
  </button>
</p>

<p>
  <button type="button" class="btn btn-primary btn-lg" (click)="minus()">
    Minus version
  </button>
</p>

<h1>{{ version }}</h1>

<!--*ngIf="posts.length > 0" -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">userId</th>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <!--<tbody *ngFor="let post of posts"> -->
  <tbody *ngFor="let post of posts$ | async">
    <tr>
      <th scope="row">{{ post.userId }}</th>
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </tbody>
</table>
