/* You can add global styles to this file, and also import other style files */
@import 'variable';

h1{
  color:blueviolet;
}

.state-annule{
  background-color:#F5A9BC;
}

.state-option{
  background-color:#ECCEF5;
}

.state-confirme{
  background-color: #A9F5A9;
}

.state-facture{
  background-color: #A9E2F3;
}
